/* Universal Styling */

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Navaigation */

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-nav .navbar-default .active a {
  color: #399bd1;
}

/* Jumbotron */

.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg');
}

.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:  -1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monton", sans-serif;
  font-size: 7.1rem;
}

/* Featured Project */

.featured-project {
  margin-top: -7rem;
}

.categories h3 {
  color: #399bd1;
}

.categories ul {
  color: rgba(0, 0, 0, 0.7);
}

/*Projects */

.project {
  margin-bottom: 5.85rem;
}

.project .image-container {
  height: 13.5rem;
  overflow: hidden;
}
